source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.5.2

nuget Deedle
nuget MathNet.Numerics
nuget Google.DataTable.Net.Wrapper
nuget Newtonsoft.Json
nuget Microsoft.SourceLink.GitHub

group Formatting
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Formatting 4.0.0-rc1
    nuget FSharp.Formatting.CommandTool 4.0.0-rc1

group Test
    source https://api.nuget.org/v3/index.json
    frameworks: netcoreapp3.1

    nuget Expecto
    nuget Expecto.TestResults