source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

nuget Deedle
nuget MathNet.Numerics
nuget Google.DataTable.Net.Wrapper
nuget Newtonsoft.Json
nuget system.drawing.primitives

github fsharp/FAKE modules/Octokit/Octokit.fsx