<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.DataTable.Net.Wrapper" version="3.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="XPlot.GoogleCharts" version="1.0.1" targetFramework="net45" />
</packages>