/* Common */
body {
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 10px;
}

#logo {
    height: 30px;
}

#push {
    height: 100px;
}

/* Home */

#jumbotron, .jumbotron {
    background: linear-gradient(45deg,#0084c5 0,#0489c3 36%,#30cabf 66%,#2fbcb2 100%);
    color: white;
}

.jumbotron {
    padding-bottom: 60px;
    padding-top: 100px;
}

#main {
    width: 75%;
}

.home-section {
    padding-bottom: 10px;
    padding-top: 10px;
}

#lead-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Chart Page */
.demo-header {
    width: 80%;
}

pre {
    background-color: white;
    padding: 0;
    width: 75%;
}

.chart-iframe {
    width: 100%;
    height: 600px;
    border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #363432;
    color: rgba(255,255,255,.5);
}

.container .text-muted {
    margin: 20px 0;
}